@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
*{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    background-color: #343434;
    color: wheat;
}
.defaultify_button{
    transition: width 1s,height 1s, background-color 1s;
    width: 190px;
    border-radius: 90px;
    height: 40px;
    background-color: rgb(11, 36, 111);
    color: white;
    border:none;
}
.defaultify_button:hover{
    width: 195px;
    height: 45px;
    background-color: #0f204c;
}
div.b2 img, .b2 .caption {
    width: 100%;
}

.b2{
    margin: auto;
    max-width: 400px;
    width: 40% !important;
}
